#countlabel{
    display:block;
    text-align: center;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}

#btncontainer{
    text-align: center;
}

.btnclass{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(12, 65, 163);
    cursor: pointer;
    transition: background-color 0.30s;
}

.btnclass:hover{
    background-color: black;
}

